WALLET_MNEMONIC="word1 word2 word3 ... word24"
WALLET_VERSION=v4

TREASURY_ADDRESS=EQ...
LIQUIDITY_ADDRESS=EQ...
MINTER_ADDRESS=EQ...
MINT_AMOUNT=1000000
MINT_PRICE_TON=1

METADATA_URL=https://drill-chi-flax.vercel.app/drill.json
PASS_METADATA_URL=https://drill-chi-flax.vercel.app/drill-pass.json
